# Environments
venv/
.env
__pycache__/
*.pyc

# MediaPipe Models (Large binary files)
models/*.task

# Streamlit & OS
.streamlit/
.DS_Store

# Ignore the large binary models
models/*.task
# But don't ignore the folder itself
!models/.gitkeep